<form>
    <label>Resource:</label><select data-bind="options: allResources, optionsText: function(item) { return item.fullName() }, value: selectedResource, optionsCaption: 'Choose...', enable:selectedAbsence() && selectedAbsence().id === 0"></select>
    <!-- ko with: selectedAbsence --><!-- the 'ko with' implementation here is the trick to get the period binding correct-->
    <label>Absence title:</label><input type="text" data-bind="value: title, valueUpdate: 'afterkeydown'" />
    <label>Start date (dd-mm-yyyy):</label><input type="text" data-bind="value: startDate.dateString" />
    <label>End date (dd-mm-yyyy):</label><input type="text" data-bind="value: endDate.dateString" />
    <!--/ko-->
    <button class="sexybutton" data-bind="click: saveSelectedAbsence.bind($data), enable:selectedResource()"><span><span><span class="save">Save</span></span></span></button>
    <button class="sexybutton" data-bind="click: deleteSelectedAbsence.bind($data), enable: selectedAbsence().id > 0"><span><span><span class="delete">Delete</span></span></span></button>
</form>
