<section class="sixteen columns">
    <!--add these lines to mainpage javascript:
    infuser.defaults.templateSuffix = ".tmpl.html";
    infuser.defaults.templateUrl = "/planner/templates";-->

        <!--data context is $root.newAssignment-->
        <!--don't use availableResources() in select box since we need to be able to plan 1 resource multiple times (differing in period and / or activity)-->
        <select data-bind="options: $root.allResources(), optionsText: function(item) { return item.fullName() }, value: $root.selectedResource, optionsCaption: 'Choose...'" style="display:inline" ></select> <input type="text" data-bind="value: focusFactor" style="display:inline; width:30px; height:30px"/><input type="text" data-bind="value: assignedPeriod.startDate.dateString" style="display:inline; width:100px; height:30px"/><input type="text" data-bind="value: assignedPeriod.endDate.dateString" style="display:inline; width:100px; height:30px"/><input type="text" data-bind="value: activity, event: { blur: $root.addAssignment.bind($data) }" style="display:inline; width:100px; height:30px"/>
</section>