<form>
    <label>Resource:</label><span data-bind="text: selectedPerson.fullName()" />
    <!-- ko with: $root.selectedAssignment --><!-- the 'ko with' implementation here is the trick to get the period binding correct-->
    <label>Assignment:</label><span data-bind="text: activity.title + ' ' + project.title" />
    <label>Start date (dd-mm-yyyy):</label><input type="text" data-bind="value: period.startDate.dateString" />
    <label>End date (dd-mm-yyyy):</label><input type="text" data-bind="value: period.endDate.dateString" />
    <label>Focus factor:</label><input type="text" data-bind="value: focusFactor" />
    <!--/ko-->
    <button class="sexybutton" data-bind="click: $root.saveSelectedAssignment.bind($data), enable:$root.selectedAssignment()"><span><span><span class="save">Save</span></span></span></button>
    <button class="sexybutton" data-bind="click: $root.deleteSelectedAssignment.bind($data), enable:$root.selectedAssignment()"><span><span><span class="delete">Delete</span></span></span></button>
</form>
