<form>
    <label>Milestone Title:</label><input type="text" data-bind="value: title, valueUpdate: 'afterkeydown'" />
    <label>Description:</label><input type="text" data-bind="value: description" />
    <label>Date (dd/mm/yyyy):</label><input type="text" data-bind="value: date.dateString" />
    <label>Time:</label><input type="text" data-bind="value: time" />
    <!--deliverables is a propery on the Milestone object-->
    <label>Deliverables:</label><select data-bind="options: $root.allDeliverables(), optionsText: 'title', selectedOptions: deliverables", size="5" multiple="multiple"></select>
    <!--<span class="icon32 icon-save interact alignRight" data-bind="click: $parent.saveSelectedMilestone.bind($data)"></span>-->
    <button class="sexybutton" data-bind="click: $parent.saveSelectedMilestone.bind($data)"><span><span><span class="save">Save</span></span></span></button>
</form>
