<div class="band navigation">
	<nav class="primary container">
		<ul>
			<li><a href="Phases.htm">Phases Overview</a></li>
            <!--<li><a href="Release.htm">Release Status</a></li>-->
			<li><a href="#"><span>- </span>Resource Planning</a>
                    <ul>
                        <li><a href="resourceAvailability.htm"><span>- </span>Capacity</a></li>
						<!--<li><a href="planResources.htm"><span>- </span>Plan Resources</a></li>-->
                        <li><a href="assignments.htm"><span>- </span>Planning</a></li>
                        <!--<li><a href="planningOverview.htm"><span>- </span>Overview</a></li>-->
                        <li><a href="absences.htm"><span>- </span>Absences</a></li>
					</ul>
            </li>
            <li><a href="#"><span>- </span>Release Status</a>
                    <ul>
                        <li><a href="releasePlanningOverview.htm">Planning</a></li>
                        <li><a href="updateReleaseStatus.htm">Maintain Hours</a></li>
                        <li><a href="releaseProgress.htm">Progress</a></li>
                        <!--<li><a href="processPerformance.htm">Process Performance</a></li>-->
					</ul>
            </li>
            <li><a href="#"><span>- </span>Environments</a>
                    <ul>
                        <li><a href="Environments.htm">Planning</a></li>
                        <li><a href="Branches.htm">Branches</a></li>
                        <!--<li><a href="processPerformance.htm">Process Performance</a></li>-->
					</ul>
            </li>
            <li><a href="#">Configuration</a>
					<ul>
						<li><a href="adminRelease.htm"><span>- </span>Releases</a></li>
						<li><a href="adminProject.htm"><span>- </span>Projects</a></li>
                        <li><a href="adminResource.htm"><span>- </span>Resources</a></li>
					</ul>
			</li>
            <li><a href="#">Process</a>
				<ul>
                    <li><a href="adminDeliverable.htm"><span>- </span>Artefacts</a></li>
                    <li><a href="adminActivity.htm"><span>- </span>Activities</a></li>
                    <li><a href="adminMeeting.htm"><span>- </span>Meetings</a></li>
                    <!--<li><a href="adminRole.htm"><span>- </span>Roles</a></li>-->
				</ul>
			</li>
		</ul>
	</nav>
</div><!--end band-->