<div class="band navigation">
	<nav class="primary container">
		<ul>
			<li><a href="Phases.htm">Phases Overview</a></li>
            <li><a href="Release.htm">Release Status</a></li>
			<li><a href="#"><span>- </span>Resource Planning</a>
                    <ul>
						<li><a href="planResources.htm"><span>- </span>Plan Resources</a></li>
                        <li><a href="planningOverview.htm"><span>- </span>Overview</a></li>
                        <li><a href="absences.htm"><span>- </span>Absences</a></li>
					</ul>
            </li>
            <li><a href="updateReleaseStatus.htm">Maintain Release Status</a></li>
            <li><a href="#">Configuration</a>
					<ul>
						<li><a href="adminRelease.htm"><span>- </span>Releases</a></li>
                        <li><a href="adminDeliverable.htm"><span>- </span>Deliverables</a></li>
                        <li><a href="adminActivity.htm"><span>- </span>Activities</a></li>
						<li><a href="adminProject.htm"><span>- </span>Projects</a></li>
                        <li><a href="adminResource.htm"><span>- </span>Resources</a></li>
					</ul>
			</li>
		</ul>
	</nav>
</div><!--end band-->