<form>
    <label>Release title:</label><input type="text" data-bind="value: title, valueUpdate: 'afterkeydown'" />
    <label>Start date (dd-mm-yyyy):</label><input type="text" data-bind="value: startDate.dateString" />
    <label>End date (dd-mm-yyyy):</label><input type="text" data-bind="value: endDate.dateString" />
    <label>Tfs IterationPath:</label><input type="text" data-bind="value: tfsIterationPath" />
    <button data-bind="click: $parent.saveSelected.bind($data)">Submit</button>
</form>
