<form>
    <label>Release title:</label><input type="text" data-bind="value: title, valueUpdate: 'afterkeydown'" />
    <label>Start date (dd-mm-yyyy):</label><input type="text" data-bind="value: startDate.dateString" />
    <label>End date (dd-mm-yyyy):</label><input type="text" data-bind="value: endDate.dateString" />
    <label>Tfs IterationPath:</label><input type="text" data-bind="value: tfsIterationPath" />
    <label>Projects:</label><select data-bind="options: $root.allProjects(), optionsText: 'title', selectedOptions: projects", size="5" multiple="multiple"></select>
    <!--<p>Selected Projects: <span data-bind="text: projects()"></span></p>--> <!-- updates in real-time -->
    <!--<button data-bind="click: $parent.saveSelected.bind($data)">Submit</button>-->
    <!--<span class="ui-silk ui-silk-disk interact" data-bind="click: $parent.saveSelected.bind($data)"></span>-->
    <span class="icon32 icon-save interact alignRight" data-bind="click: $parent.saveSelected.bind($data)"></span>
</form>
