.icon128 { width: 128px; height: 128px; background: transparent url(../Sprites/silk-sprite.png?634021826077603114) no-repeat; text-indent: 99999px; overflow: hidden; }
.icon48 { width: 48px; height: 48px; background: transparent url(../Sprites/silk-sprite.png?634021826077603114) no-repeat; text-indent: 99999px; overflow: hidden; }
.icon { width: 32px; height: 32px; background: transparent url(../Sprites/silk-sprite.png?634021826077603114) no-repeat; text-indent: 99999px; overflow: hidden; }
.icon22 { width: 22px; height: 22px; background: transparent url(../Sprites/silk-sprite.png?634021826077603114) no-repeat; text-indent: 99999px; overflow: hidden; }
.icon16 { width: 16px; height: 16px; background: transparent url(../Sprites/silk-sprite.png?634021826077603114) no-repeat; text-indent: 99999px; overflow: hidden; }
.icon24 { width: 24px; height: 24px; background: transparent url(../Sprites/silk-sprite.png?634021826077603114) no-repeat; text-indent: 99999px; overflow: hidden; }
.icon32 { width: 32px; height: 32px; background: transparent url(../Sprites/silk-sprite.png?634021826077603114) no-repeat; text-indent: 99999px; overflow: hidden; }
a.icon24, input.icon24, span.icon24,
a.icon, input.icon, span.icon, 
a.icon22, input.icon22, span.icon22, 
a.icon16, input.icon16, span.icon16,
a.icon32, input.icon32, span.icon32, 
a.icon48, input.icon48, span.icon48,
a.icon128, input.icon128, span.icon128
{ display: inline-block; vertical-align: middle; border: 0; outline: 0; }

.icon-new { background:url('../images/png/24x24/add.png'); }
.icon-release { background:url('../images/png/32x32/fast_forward.png'); }
.icon-phase { background:url('../images/png/32x32/calendar_blank.png'); }
.icon-milestone { background:url('../images/png/32x32/flag.png'); }
.icon-warning { background:url('../images/png/32x32/warning.png'); }
.icon-edit { background:url('../images/png/24x24/edit.png'); }
.icon-users { background:url('../images/png/32x32/users.png'); }
.icon-delete { background:url('../images/png/24x24/trash.png'); }
.icon-remove16 { background:url('../images/png/16x16/delete.png'); }
.icon-save { background:url('../images/png/32x32/save.png'); }
.icon-zoom { background:url('../images/png/32x32/zoom_in.png'); }
.icon-chart { background:url('../images/png/32x32/chart.png'); }
.icon-chart-small { background:url('../images/png/24x24/chart.png'); }
.icon-deliverables { background:url('../images/png/32x32/copy_page.png'); }
.icon-deliverables-small { background:url('../images/png/24x24/copy_page.png'); }
.icon-play { background:url('../images/png/32x32/play.png'); }
.icon-clock { background:url('../images/png/24x24/clock.png'); }

.icon-deletexx { background:url('../images/icons/trash2.png'); }
.icon-remove { background:url('../images/icons/delete3.png'); }
.icon-project { background:url('../images/icons/project.png'); }
.icon-add-user48 { background:url('../images/icons/add-user.png'); }
.icon-remove-user22 { background:url('../images/icons/remove-user22.png'); }
.icon-add-user22 { background:url('../images/icons/add.png'); }
.icon-todo48 { background:url('../images/icons/todo.png'); }

/*
buttons
*/
a.button {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dbdbdb')";
    border: 1px solid #fff;
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: #fff 0 1px 0;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
    color: #597390;
    line-height: 24px;
    font-size: 20px;
    font-weight: bold;
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #ffffff),color-stop(1, #dbdbdb));
}

a.button:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee')";
    color: #000;
    display: block;
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #ffffff),color-stop(1, #eeeeee));
}

a.button:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dbdbdb', EndColorStr='#ffffff')";
    text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
    margin-top: 1px;
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #dbdbdb),color-stop(1, #ffffff));
}

a.button.img {
    padding-left: 11px;
}

a.button.img.save span{
    padding-left: 36px;
    background:url('../images/png/24x24/save.png') no-repeat 0 -4px;
}


