/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*body
{
    background-color: #ddd;
    margin-top: 20px;
}*/

/* Navigation */

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	}

img {
	max-width: 100%;
}


.band {
	background: url(../images/bg_main.png) repeat #f8f8f8;
	padding: 0 0 14px 0;	
}

.band.navigation {
	background: url(../images/stitch_hr.png) left top repeat-x,
				url(../images/bg_nav.png) repeat left 2px,
				#343434;	
	padding: 0;
	color: #e0e0e0; 
}

.band.footer {
	background: url(../images/stitch_large.png) left top repeat-x,
				url(../images/bg_dark.png) repeat left 2px,
				#343434;
	padding: 49px 0 14px 0;			
	color: #e0e0e0; 
}

.band.bottom {
	background: url(../images/stitch_staggered.png) left top repeat-x,
				url(../images/bg_bottom.png) repeat,
				#343434;	
	padding: 28px 0 7px 0;
	color: #e0e0e0;
}

/*ie multiple background image fallbacks*/
.ie .band.navigation {
	background: url(../images/bg_dark.png) repeat left 2px #343434;
}
.ie .band.footer {
	background: url(../images/bg_dark.png) repeat left 2px #343434;
}
.ie .band.bottom {
	background: url(../images/bg_bottom.png) repeat #343434;
}

/*navigation*/
nav.primary ul,
nav.primary ul li {
	margin: 0px;
}

nav.primary select {
	display: none;
	width:  100%;
	height: 28px;
	margin: 21px 0;
}

nav.primary ul li {
	display: inline;
	float: left;
	position: relative;
}

nav.primary ul li a {
	display: inline-block;
	line-height: 49px;
	padding:  0 14px;
	color: #ebebeb;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 0.08em;
}

nav.primary ul li a:hover {
	background: #424242;
	cursor: pointer;
}

/*sub menu*/
nav.primary ul ul {
	opacity: 0; 
  	filter: alpha(opacity=0); 

	position: absolute;
	top:100%;
	left: 0;
	z-index: 999999;
	background: url(../images/bg_nav.png);
	
	height: 0px;
	overflow: hidden;
	
	min-width: 100%;
	
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	-ms-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;
	
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}

nav.primary ul li span {
	display: none;
}

nav.primary ul li:hover ul {
	opacity: 10; 
  	filter: alpha(opacity=100); 
  	
	height: auto;
	overflow: auto;
	
	display: block;
}

nav.primary ul ul li {
	float: none;
	display: list-item;
	border-bottom: 1px solid #383737;
}

nav.primary ul ul li a {
	display: block;
	line-height: 35px;
	text-transform: none;
	position: relative;
	z-index: 999999;
}

nav.primary ul li:hover > a {
	background: #424242;
}
/* end navigation*/

.container
{
    /* background-color: #fff; 
    -webkit-box-shadow: 5px 5px 5px #bbb;
    -moz-box-shadow: 5px 5px 5px #bbb;
    -o-box-shadow: 5px 5px 5px #bbb;*/
}

.part
{
    border: 1px dashed gray;
}

.selectable:hover
{
    cursor: pointer;
    font-weight: bold;
}

.tmpl {
    display: none;
}

.hand
{
    cursor: pointer;
}

div.closeIcon {
    margin: 4px 8px 2px 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url(../images/close_white1.png);
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}
div[class=closeIcon]:hover {
    background-image: url(../images/close_white2.png);
}
.dialogTitleBorder {
    background-color:rgb(250, 197, 102);
    border:orange solid 1px; 
    width: inherit;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    height: 30px;
    margin: 0 0 10px 0;
}

.borderTitleText 
{
    font-size: 120%;
    vertical-align: middle;    
    line-height: 30px;
    color: white;
    float: left;
}

.textValues {
	margin: 0 4px 0 4px;
	color: rgb(47, 123, 163);
}

.leftFloat {
    float: left;
    z-index:100;
}

.productDetailsArea {
    margin: 3em 0;
    width: 500px;
    float: left;
	/*background-color: #f4f8fc;*/
	border: lightgray solid 1px;
    padding: 1em;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    -moz-box-shadow:4px 4px 3px #655e5e;
    -webkit-box-shadow:4px 4px 3px #655e5e;
    box-shadow:4px 4px 3px #655e5e;
    }

/* smaller than standard 960*/
@media only screen and (max-width 959px) {
    body
    {
        background-color: #fff;
    }

    .container
    {
        /* background-color: #fff; */
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }
}
/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/